@model FlightManager.Data.Entities.Flight

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocationTo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocationTo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TakeOff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TakeOff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Landing)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Landing)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypePlane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypePlane)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniCodePlane)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniCodePlane)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PilotName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PilotName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BusinessClassCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BusinessClassCapacity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
