@model IEnumerable<FlightManager.Data.Entities.Flight>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationTo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TakeOff)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Landing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypePlane)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UniCodePlane)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PilotName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassengerCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessClassCapacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TakeOff)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Landing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypePlane)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UniCodePlane)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PilotName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PassengerCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusinessClassCapacity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
