@model IEnumerable<FlightManager.Data.Entities.Reservation>
@inject Microsoft.AspNetCore.Identity.SignInManager<FlightManager.Data.User> sighInManager;

@{
    ViewData["Title"] = "Index";
}

<h1>Reservations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Flight №
            </th>
            <th>
                Location to
            </th>
            <th>
                Passenger
            </th>
            <th>
                TypeTicket
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flight.LocationTo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Passenger.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeTicket)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            </tr>
        }
    </tbody>
</table>

